<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <header class="header">
        <a href="/"><h1>Przetargownia</h1></a>
      </header>

    <main>
        <section class="tender-details">
            <h3>Informacje o przetargu</h3>
            <hr>
            <p><strong>Instytucja:</strong>
                <%= tender.institution %>
            </p>
            <p><strong>Data rozpoczęcia:</strong>
                <%= tender.start_date.toLocaleDateString('pl-PL') %> o <%= tender.start_date.toLocaleTimeString('pl-PL', { hour: '2-digit' , minute: '2-digit' }) %>
            </p>
            <p><strong>Data zakończenia:</strong>
                <%= tender.deadline.toLocaleDateString('pl-PL') %> o <%= tender.deadline.toLocaleTimeString('pl-PL', { hour: '2-digit' , minute: '2-digit' }) %>
            </p>
            <p><strong>Opis:</strong>
                <%= tender.description %>
            </p>
        </section>
        <% if (offers.length > 0) { %>
          <section class = "tender-details">
            <h3>Złożone oferty:</h3>
                <table>
                  <tr>
                    <th scope="col">Numer</th>
                    <th scope="col">Instytucja zgłaszająca ofertę</th>
                    <th scope="col">Wartość oferty</th>
                    <th scope="col">Data zgłoszenia oferty</th>
                    <th scope="col">Godzina zgłoszenia oferty</th>
                  </tr>
                  <% offers.forEach(offer => { %>
                      <td><%= offer.id %></td>
                      <td><%= offer.name %></td>
                      <td><%= offer.offer_value %></td>
                      <td><%= offer.submission_date.toLocaleDateString('pl-PL') %></td>
                      <td><%= offer.submission_date.toLocaleTimeString('pl-PL', { hour: '2-digit', minute: '2-digit' }) %></td>
                    </tr>
                  <% }) %>
                </table>
              </section>
        <% }else { %>
            <section>
                <h3>Przetarg nie został rozstrzygnięty. Nie napłynęły żadne oferty mieszczące się w budżecie :(.</h3>
            </section>
          <% } %>
    </main>


    <footer class="footer">
        <p>Autor: <strong>Łukasz Walancik</strong> | <a href="https://github.com/LukashWalancik">GitHub</a></p>
      </footer>
</body>

</html>