<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/add_tender.css">
</head>

<body>
    <header class = "header">
        <a href="/">
            <h1>Przetargownia</h1>
        </a>
    </header>

    <main>
        <section class="tender-details">
            <h3>Informacje o przetargu: <strong></strong></h3>
            <hr>
            <p><strong>Tytuł przetargu: </strong> <%= tender.title %></p>
            <p><strong>Nazwa instytucji zgłaszającej przetarg:</strong>
                <%= tender.institution %>
            </p>
            <p><strong>Data rozpoczęcia przetargu:</strong>
                <%= tender.start_date.toLocaleDateString('pl-PL') %> o <%= tender.start_date.toLocaleTimeString('pl-PL', { hour: '2-digit' , minute: '2-digit' }) %>
            </p>
            <p><strong>Data zakończenia przetargu:</strong>
                <%= tender.deadline.toLocaleDateString('pl-PL') %> o <%= tender.deadline.toLocaleTimeString('pl-PL', { hour: '2-digit' , minute: '2-digit' }) %>
            </p>
            <p><strong>Opis pretargu:</strong>
                <%= tender.description %>
            </p>
        </section>
        <a href="/offers/new/<%= tender.id %>" class="offer-button">
            Złóż ofertę
          </a>
    </main>


    <footer class="footer">
        <p>Autor: <strong>Łukasz Walancik</strong> | <a href="https://github.com/LukashWalancik">GitHub</a></p>
      </footer>
</body>

</html>